.album{
    padding: 0.5rem;
    display: flex;
    position: relative;
    background-color: rgb(247, 247, 247);
    transition: 0.2s ease;

    &:hover{
        background-color: rgb(238, 238, 238);

        .album-favourite{
            opacity: 1;
        }

        button{
            opacity: 1;
        }
    }

    .album-favourite{
        position: absolute;
        right: 1rem;
        top: 1rem; 
        opacity: 0;
        transition: 0.1s ease;
        cursor: pointer;

        &.true{
            opacity: 1;
        }

        img{
            height: 1rem;
        }
    }

    >img{
        margin-right: 1rem;
        height: 100%;
    }

    .album-info-artist{
        font-size: 0.8rem;
        color: var(--colorPrimary);
    }

    .album-info-name{
        font-size: 1.1rem;
    }

    button{
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        opacity: 0;
        transition: 0.2s;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: rgb(165, 165, 165);
    }
}