.container{
    padding: 10% calc(25% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.routes{
    width: 100%;
    position: relative;
}

div{
}